<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylsheet" href="logo.css">
        <title>Авторизация</title>

        <link rel="icon" type="image/png" href="./img/Без названия.jpg">
    </head>

    <body>
        <div>
            <h1>Войти в личный кабинет</h1>
            <form method="post">
                <p>
                    <input type="text" name="login" value="" placeholder="Логин">
                </p>
                <p>
                    <input type="password" name="password" value="" placeholder="Пароль">
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="remember_me" id="remember_me">
                        Запомнить меня на этом устройстве
                    </label>
                </p>
                <p>
                    <input type="submit" name="commit" value="Войти">
                </p>
        <div>
            <p>
                <a href="regfix.html">Регистрация</a>
            </p>
        </div>
            </form>
        </div>
    </body>
</html>