<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylsheet" href="mainstyle.css">
        <title>Мягкие лапки</title>

        <link rel="icon" type="image/png" href="./img/Без названия.jpg">
    </head>

    <body>
<h1>Мягкие лапки, магазин котиков</h1>
<form>
    <div></div>
    <input name="q">
    <input type="submit" value="Подобрать котика">
    <div>
        <a href="logfix.html"><input type="button" value="Войти"></a>
    </div>
</div>
</form>
<div>
<div>
    <img src="./img/0efb665606dac66e60bffc87f348064a.jpg">
    <p>
        <a href="product.html">Каталог котиков</a>
    </p>
</div>
</div>

    </body>
</html>