<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylsheet" href="reg.css">
        <title>Регистрация</title>

        <link rel="icon" type="image/png" href="./img/Без названия.jpg">
    </head>

    <body>
     <h1>Регистрация нового пользователя</h1>
     <div>
        <form>
            <p>
                <input class="input" name="login" type="text" placeholder="Логин">
            </p>
            <p>
                <input class="input" name="name" type="text" placeholder="Как вас зовут?">
            </p>
            <p>
                <input class="input" name="surname" type="text" placeholder="Ваша фамилия">
            </p>
            <p>
                <input class="input" name="password" type="pasword" placeholder="Придумайте пароль">
            </p>
            <p>
                <input class="input" name="repeatpassword" type="password" placeholder="Повторите пароль">
            </p>
        </form>
        <form>
            <p>
                <input type="submit" name="commit" value="Зарегистрироваться">
            </p>
        </form>
     </div>
    </body>
</html>